html { height:100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; font-family: 'Orbitron', sans-serif; margin-right:200px}
.navbar.fixed-right{position:fixed;top:0;right:0;right:0;z-index:1030}@media (min-width:768px){.navbar.fixed-right{bottom:0;width:200px;flex-flow:column nowrap;align-items:flex-start}.navbar.fixed-right .navbar-collapse{flex-grow:0;flex-direction:column;width:100%}.navbar.fixed-right .navbar-collapse .navbar-nav{flex-direction:column;width:100%}.navbar.fixed-right .navbar-collapse .navbar-nav .nav-item{width:100%}.navbar.fixed-right .navbar-collapse .navbar-nav .nav-item .dropdown-menu{top:0}}@media (min-width:768px){.navbar.fixed-right.navbar.fixed-right .navbar-nav .nav-item .dropdown-toggle:after{border-top:.3em solid transparent;border-right:.3em solid;border-bottom:.3em solid transparent;border-right:none;vertical-align:baseline}.navbar.fixed-right .navbar-nav .nav-item .dropdown-menu{right:100%}}
.pull-bottom{ position: absolute; bottom: 0; right: 0; }
.chat_container{
	position: absolute; 
	bottom: 0; 
	right: 0;
	width: 30%;
	height: 50%;
	display:none;
}

.worldtime{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200px;
	text-align:center;
}
.worldtime .date{
    font-size: 18px;
}
.worldtime .time{
    font-size: 25px;
}
.orbitron{
	font-family: 'Orbitron'
}

.poiret{
	font-family: 'Poiret One'
}

.chat_sidebar{
	background-color:#303030;
	border: solid thin silver
}
   .member_list .chat-body {
   margin-left: 47px;
   margin-top: 0;
   }
   .top_nav {
   overflow: visible;
   }
   .member_list .contact_sec {
		margin-top: 3px;
   }
   .member_list li {
		padding: 6px;
   }
   .member_list ul {

   }
   .chat-img img {
   height: 24px;
   width: 24px;
   }
   .member_list li {
		padding: 6px;
		font-size:9px
   }
   .member_list li:last-child {
   border-bottom:none;
   }
   .member_list {
   height: 320px;
   overflow-x: hidden;
   overflow-y: auto;
   }
.all_conversation ul li:hover .sub_menu_ {
  display: block;
}
.message_section {
  border: 1px solid #dddddd;
}
.chat_area {
  background-color:#303030;
  float: left;
  height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.chat_area li {
  padding: 14px 14px 0;
}
.chat_area li .chat-name {
	font-size: 10px;
}
.chat_area li .chat-body1 {
  font-size: 10px;
}
.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
}
.chat_area li:last-child {
  padding-bottom: 10px;
}
.message_write {
  background: #303030 none repeat scroll 0 0;
  border: solid thin silver;
  border-left: none;
  float: left;
  padding: 5px;
  width: 100%;
  display:flex;
}

.message_write textarea.form-control {
  padding: 10px;
}
.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width:100%;
}
.member_list li:hover {
  background: #428bca none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}

.recruit_block {
    padding: 10px;
}

.recruit_inner_block {
    border: solid thin silver;
}